.linkButtons {
    display: flex;
    flex-direction: row;
}
.linkButtons a {
    margin-left: 1rem;
}

.carousel {
    border-radius: 8px;
    border: 1px solid #ccc;
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.carouselItem {
    min-width: 100%;
    transition: transform 0.5s ease;
}
.carouselItem img {
    margin-right: auto;
    margin-left: auto;
}
.carouselNav {
    text-align: center;
    margin-top: 10px;
}
.carouselNav button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
.thumbnailGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}
.thumbnail {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.thumbnail img {
    max-width: 100%;
    height: auto;
}

.readMore {
    margin: 1rem;
    cursor: pointer;
}