* {
    box-sizing: border-box;

}
header {
    background-color: #c0a886;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    font-family: Roboto, sans-serif;

    z-index: 1;
}

main {
    margin-top: 6rem;
}
body {
    font-family: Roboto, sans-serif;
    background-color: #d8ccb4;
}

.welcome {
    text-align: center;

}

.linkButtons {
    display: flex;
    flex-direction: row;
}
.linkButtons button {
    font-size: 1rem;
    border-style: none;
    text-align: center;
    padding: 1.5rem;

}
.home {
    background-color:#d8ccb4;
}
.home a {
    color: black;
}
.away {
    background-color: #c0a886;
}
.away:hover {
    background-color: #dec29e;;
}
.away a {
    color: black;
}
.linkButtons a {
    text-decoration: none;
}

.carousel {
    border-radius: 2px;
    border: 1px solid #8A724F;
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: #c0a886;
}
.carouselItem {
    min-width: 100%;
    transition: transform 0.5s ease;
}
.carouselItem img {
    margin-right: auto;
    margin-left: auto;
}
.carouselNav {
    text-align: center;
    margin-top: 10px;
}
.carouselNav button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #605443;
    border: none;
    border-radius: 4px;
    font:inherit;
    color: white;
}
.thumbnailGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}
.thumbnail {
    background-color: #c0a886;
    border-radius: 2px;
    border: 1px solid #8A724F;
    padding: 10px;
    text-align: center;
}
.thumbnail img {
    max-width: 100%;
    height: auto;
}

.readMore {
    margin: 1rem;
    cursor: pointer;
    background-color: #605443;
    border: none;
    border-radius: 4px;
    font:inherit;
    padding: 8px;
    color: white;
}

