* {
    box-sizing: border-box;

}
header {
    background-color: #c0a886;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    font-family: Roboto, sans-serif;

    z-index: 1;
}
main {
    margin-top: 6rem;
}
body {
    font-family: Roboto, sans-serif;
    background-color: #d8ccb4;
}
.linkButtons {
    display: flex;
    flex-direction: row;
}
.linkButtons button {
    font-size: 1rem;
    border-style: none;
    text-align: center;
    padding: 1.5rem;

}
.home {
    background-color:#d8ccb4;
}
.home a {
    color: black;
}
.away {
    background-color: #c0a886;
}
.away:hover {
    background-color: #dec29e;;
}
.away a {
    color: black;
}
.linkButtons a {
    text-decoration: none;
}

.container {
    display:flex;
    flex-direction: column;
    width: 25%;
    font-size: 1rem;
    background-color: #c0a886;
    border-radius: 4px;
    padding: 2rem;
    border: 1px solid #8A724F;

}
.container label {
    margin-bottom: 8px;
}

.container input {
    padding: 8px;
    margin-bottom: 1rem;
}
.container button {
    background-color: #605443;
    border: none;
    border-radius: 4px;
    font:inherit;
    padding: 8px;
    color: white;
    cursor:pointer;
}
h1 {
    margin-left: 2rem;
}
.descriptionTitle {
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
section {
    margin-left: 5rem;
}

#post {
    margin-left: 2rem;
}